h1{
    background-color: green;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
    border-radius: 10px;
}
h3{
    text-align: center;
}
.button{
    background-color: green;
    color:white;
    padding: 15px 30px;
    text-align: center;
    font-size: 22px;
    border: none;
    margin: 2px;
    border-radius: 8px;
}
div{
    text-align: center;
}


